[Desktop Entry]
Type=Application
Name=Aircrack-ng
Comment=Wireless network security toolset
Exec=konsole --hold -e aircrack-ng --help
TryExec=aircrack-ng
Icon=network-wireless
Terminal=false
Categories=System;Security;X-NullLinux-Wireless;X-NullLinux-Network;
X-NullLinux-Package=aircrack-ng
