[Desktop Entry]
Type=Application
Name=Autopsy
Comment=Digital forensics platform
Exec=autopsy
TryExec=autopsy
Icon=drive-harddisk
Terminal=false
Categories=System;Security;X-NullLinux-Forensics;
X-NullLinux-Package=autopsy
