[Desktop Entry]
Type=Application
Name=Binwalk
Comment=Firmware analysis tool
Exec=konsole --hold -e binwalk --help
TryExec=binwalk
Icon=drive-harddisk
Terminal=false
Categories=System;Security;X-NullLinux-Forensics;
X-NullLinux-Package=binwalk
