[Desktop Entry]
Type=Application
Name=Burp Suite
Comment=Web vulnerability scanner
Exec=burpsuite
TryExec=burpsuite
Icon=utilities-terminal
Terminal=false
Categories=System;Security;X-NullLinux-Web;
X-NullLinux-Package=burpsuite
