[Desktop Entry]
Type=Application
Name=ffuf
Comment=Fast web fuzzer
Exec=konsole --hold -e ffuf --help
TryExec=ffuf
Icon=text-html
Terminal=false
Categories=System;Security;X-NullLinux-Web;
X-NullLinux-Package=ffuf
