[Desktop Entry]
Type=Application
Name=Ghidra
Comment=Software reverse engineering framework
Exec=ghidra
TryExec=ghidra
Icon=applications-development
Terminal=false
Categories=System;Security;X-NullLinux-Exploitation;
X-NullLinux-Package=ghidra
