[Desktop Entry]
Type=Application
Name=Gobuster
Comment=Directory and DNS brute-forcer
Exec=konsole --hold -e gobuster --help
TryExec=gobuster
Icon=utilities-terminal
Terminal=false
Categories=System;Security;X-NullLinux-RedTeam;X-NullLinux-Web;
X-NullLinux-Package=gobuster
