[Desktop Entry]
Type=Application
Name=Hashcat
Comment=Advanced password recovery
Exec=konsole --hold -e hashcat --help
TryExec=hashcat
Icon=utilities-terminal
Terminal=false
Categories=System;Security;X-NullLinux-RedTeam;
X-NullLinux-Package=hashcat
