[Desktop Entry]
Type=Application
Name=John the Ripper
Comment=Password cracker
Exec=konsole --hold -e john --help
TryExec=john
Icon=utilities-terminal
Terminal=false
Categories=System;Security;X-NullLinux-RedTeam;
X-NullLinux-Package=john
