[Desktop Entry]
Type=Application
Name=Lynis
Comment=Security auditing tool
Exec=konsole --hold -e lynis --help
TryExec=lynis
Icon=security-high
Terminal=false
Categories=System;Security;X-NullLinux-BlueTeam;
X-NullLinux-Package=lynis
