[Desktop Entry]
Type=Application
Name=macchanger
Comment=MAC address spoofing utility
Exec=konsole --hold -e macchanger --help
TryExec=macchanger
Icon=preferences-system-privacy
Terminal=false
Categories=System;Security;X-NullLinux-OPSEC;
X-NullLinux-Package=macchanger
