[Desktop Entry]
Type=Application
Name=Masscan
Comment=Internet-scale port scanner
Exec=konsole --hold -e masscan --help
TryExec=masscan
Icon=network-workgroup
Terminal=false
Categories=System;Security;X-NullLinux-Network;X-NullLinux-RedTeam;
X-NullLinux-Package=masscan
