[Desktop Entry]
Type=Application
Name=Metasploit Framework
Comment=Penetration testing framework
Exec=konsole --hold -e msfconsole
TryExec=msfconsole
Icon=utilities-terminal
Terminal=false
Categories=System;Security;X-NullLinux-RedTeam;X-NullLinux-Exploitation;
X-NullLinux-Package=metasploit
