[Desktop Entry]
Type=Application
Name=Nikto
Comment=Web server scanner
Exec=konsole --hold -e nikto -Help
TryExec=nikto
Icon=text-html
Terminal=false
Categories=System;Security;X-NullLinux-Web;
X-NullLinux-Package=nikto
