[Desktop Entry]
Type=Application
Name=Nmap
Comment=Network exploration and security auditing
Exec=konsole --hold -e nmap --help
TryExec=nmap
Icon=utilities-terminal
Terminal=false
Categories=System;Security;X-NullLinux-RedTeam;X-NullLinux-Network;
X-NullLinux-Package=nmap
