[Desktop Entry]
Type=Application
Name=Nuclei
Comment=Vulnerability scanner with templates
Exec=konsole --hold -e nuclei --help
TryExec=nuclei
Icon=text-html
Terminal=false
Categories=System;Security;X-NullLinux-Web;X-NullLinux-RedTeam;
X-NullLinux-Package=nuclei
