[Desktop Entry]
Type=Application
Name=Proxychains
Comment=Force TCP connections through proxy
Exec=konsole --hold -e proxychains4 --help
TryExec=proxychains4
Icon=preferences-system-privacy
Terminal=false
Categories=System;Security;X-NullLinux-OPSEC;
X-NullLinux-Package=proxychains-ng
