[Desktop Entry]
Type=Application
Name=Radare2
Comment=Reverse engineering framework
Exec=konsole --hold -e r2 -h
TryExec=r2
Icon=applications-development
Terminal=false
Categories=System;Security;X-NullLinux-Exploitation;
X-NullLinux-Package=radare2
