[Desktop Entry]
Type=Application
Name=Sherlock
Comment=Find usernames across social networks
Exec=konsole --hold -e sherlock --help
TryExec=sherlock
Icon=preferences-system-search
Terminal=false
Categories=System;Security;X-NullLinux-OSINT;
X-NullLinux-Package=sherlock
