[Desktop Entry]
Type=Application
Name=SpiderFoot
Comment=OSINT automation tool
Exec=konsole --hold -e spiderfoot --help
TryExec=spiderfoot
Icon=preferences-system-search
Terminal=false
Categories=System;Security;X-NullLinux-OSINT;
X-NullLinux-Package=spiderfoot
