[Desktop Entry]
Type=Application
Name=sqlmap
Comment=Automatic SQL injection tool
Exec=konsole --hold -e sqlmap -h
TryExec=sqlmap
Icon=utilities-terminal
Terminal=false
Categories=System;Security;X-NullLinux-RedTeam;X-NullLinux-Web;
X-NullLinux-Package=sqlmap
