[Desktop Entry]
Type=Application
Name=Suricata
Comment=Network threat detection engine
Exec=konsole --hold -e suricata --help
TryExec=suricata
Icon=security-high
Terminal=false
Categories=System;Security;X-NullLinux-BlueTeam;X-NullLinux-Network;
X-NullLinux-Package=suricata
