[Desktop Entry]
Type=Application
Name=tcpdump
Comment=Command-line packet analyzer
Exec=konsole --hold -e tcpdump --help
TryExec=tcpdump
Icon=network-workgroup
Terminal=false
Categories=System;Security;X-NullLinux-Network;X-NullLinux-BlueTeam;
X-NullLinux-Package=tcpdump
