[Desktop Entry]
Type=Application
Name=theHarvester
Comment=Email and subdomain harvester
Exec=konsole --hold -e theHarvester --help
TryExec=theHarvester
Icon=preferences-system-search
Terminal=false
Categories=System;Security;X-NullLinux-OSINT;
X-NullLinux-Package=theharvester
