[Desktop Entry]
Type=Application
Name=Tor Browser
Comment=Tor Browser launcher
Exec=torbrowser-launcher
TryExec=torbrowser-launcher
Icon=preferences-system-privacy
Terminal=false
Categories=System;Security;X-NullLinux-OPSEC;
X-NullLinux-Package=torbrowser-launcher
