[Desktop Entry]
Type=Application
Name=Volatility 3
Comment=Memory forensics framework
Exec=konsole --hold -e vol --help
TryExec=vol
Icon=drive-harddisk
Terminal=false
Categories=System;Security;X-NullLinux-Forensics;X-NullLinux-BlueTeam;
X-NullLinux-Package=volatility3
