[Desktop Entry]
Type=Application
Name=Wifite
Comment=Automated wireless attack tool
Exec=konsole --hold -e wifite --help
TryExec=wifite
Icon=network-wireless
Terminal=false
Categories=System;Security;X-NullLinux-Wireless;
X-NullLinux-Package=wifite
