[Desktop Entry]
Type=Application
Name=Wireshark
Comment=Network protocol analyzer
Exec=wireshark
TryExec=wireshark
Icon=wireshark
Terminal=false
Categories=System;Security;X-NullLinux-BlueTeam;X-NullLinux-Network;
X-NullLinux-Package=wireshark-qt
