[Desktop Entry]
Type=Application
Name=Null Linux Setup
Comment=Choose which tools to install on this system
Exec=null-setup
TryExec=null-setup
Icon=preferences-system
Terminal=false
Categories=System;
Keywords=setup;install;tools;security;roles;
