[Desktop Entry]
Type=Application
Name=Null Linux Setup
Comment=First boot setup wizard for Null Linux
Exec=konsole --hold -e null-setup
Icon=preferences-system
Terminal=false
Categories=System;
NoDisplay=true
X-KDE-autostart-phase=2
