[Desktop Entry]
Type=Application
Name=Null Linux Setup
Comment=Choose which tools to install on this system
Exec=null-setup-firstrun
TryExec=null-setup-firstrun
Icon=preferences-system
Terminal=false
X-KDE-autostart-phase=2
X-KDE-AutostartCondition=nulllinux-setuprc:General:FirstRunDone:false
